.foodTable img{
    width: 50px;
    height: 30px;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}
#loadingFood{
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(59,130,246,0.5);
    z-index: 9999;

}