#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
}